JetInterface/
JetMomentTools/
JetRec/
JetRecTools/
JetSubStructureMomentTools/
Asg_FastJet/
#BoostedJetTaggers/

PFlowUtils/
RootCoreBin/
# run/
ShowerDeconstruction/
TestPythonConfig/
tmp/
xAODAnaHelpers/
rcSetup.csh
rcSetup.sh
ParticleJetTools/
needed.txt

# ignore everything not already tracked :
#*/
# except those :
!JSSTutorial/
!JSSTutorial/*
!utils/

#Robin's additions
RootCore.par
.RootCoreBin
*.svn*
mc15_13TeV*
cmake-build-debug/
cmake-build-debug/
.idea/
run/*.csv
run/run.sh.*

RootCore.par
